body {
  overflow-x: hidden;
  overflow-style: none;
}
.logocon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #e61919;
  animation: color 30s linear infinite;
  user-select: none;
  position: absolute;
  z-index: 3;
}
.menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 50px;
  background: rgba(0,0,0,0.85);
  color: #ccc;
  text-align: center;
  line-height: 50px;
  font: 300 32px Comfortaa;
}
a {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 30px;
  font-family: Comfortaa;
  color: #f39;
  transition: background 0.3s;
}
a:hover {
  background: #f39;
  color: #fff;
  border: 0;
}
.logo {
  font: 300 150px Comfortaa;
  color: #fff;
  cursor: default;
}
.hint {
  position: fixed;
  z-index: 4;
  bottom: 30vh;
  width: 100vw;
  text-align: center;
  color: rgba(255,255,255,0.6);
  font: 300 30px Comfortaa;
}
.content {
  padding: 30px;
  position: relative;
  top: 20vh;
  height: 200vh;
  font: 16px Ubuntu;
}
@-moz-keyframes color {
  0% {
    background: #e61919;
  }
  25% {
    background: #80e619;
  }
  50% {
    background: #19e5e6;
  }
  75% {
    background: #7f19e6;
  }
  100% {
    background: #e61919;
  }
}
@-webkit-keyframes color {
  0% {
    background: #e61919;
  }
  25% {
    background: #80e619;
  }
  50% {
    background: #19e5e6;
  }
  75% {
    background: #7f19e6;
  }
  100% {
    background: #e61919;
  }
}
@-o-keyframes color {
  0% {
    background: #e61919;
  }
  25% {
    background: #80e619;
  }
  50% {
    background: #19e5e6;
  }
  75% {
    background: #7f19e6;
  }
  100% {
    background: #e61919;
  }
}
@keyframes color {
  0% {
    background: #e61919;
  }
  25% {
    background: #80e619;
  }
  50% {
    background: #19e5e6;
  }
  75% {
    background: #7f19e6;
  }
  100% {
    background: #e61919;
  }
}
