//cover w/ skrollr values (for example data-100 for styles at 100 pixels scroled)
.logocon(data-0='opacity: 1; display: flex', data-99='opacity: 0; display: none', data-100='display: none')
    .logo wave
.hint(data-0='bottom: 10vh', data-100='bottom: -25px') scroll down

//page contents below
.menu
  | wave
.content
  | Another take on the landing page cover: 
  a(href="https://codepen.io/Ovoce/pen/buIeE" target="_blank") cave
  |  Now with another stupid name...
